doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='Olevi - se helppo suomalainen tunnistuspalvelu')
        meta(name='author', content='Olevi')

        title Olevi tunnistuspalvelu

        link(rel="apple-touch-icon",sizes="180x180",href="https://misc.olevi.fi/assets/icon/apple-touch-icon.png")
        link(rel="icon",type="image/png",sizes="32x32",href="https://misc.olevi.fi/assets/icon/favicon-32x32.png")
        link(rel="icon",type="image/png",sizes="16x16",href="https://misc.olevi.fi/assets/icon/favicon-16x16.png")
        link(rel="manifest",href="/site.webmanifest")
        link(rel="mask-icon",href="https://misc.olevi.fi/assets/icon/safari-pinned-tab.svg",color="#5bbad5")
        meta(name="msapplication-TileColor",content="#da532c")
        meta(name="theme-color",content="#ffffff")


        // Bootstrap icons
        link(href='/font/bootstrap-icons.css', rel='stylesheet')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top.shadow-sm
            .container.px-5
                a.navbar-brand.fw-bold(href='#page-top')
                    img(src='https://misc.olevi.fi/assets/logo/Olevi-logo-white.svg', height="40px")
                button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    | Menu
                    i.bi-list
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.ms-auto.me-4.my-3.my-lg-0
                        li.nav-item
                            a.nav-link.me-lg-3(href='https://test-idp.olevi.fi/mgmforms/') 
                                i.bi-box-arrow-up-right &nbsp; Demo
                        li.nav-item
                            div.dropdown
                                button.btn.dropdown-toggle(type='button',data-bs-toggle='dropdown',aria-expanded='false') Lisätietoa Olevista
                                ul.dropdown-menu
                                    li
                                        a.nav-link.me-lg-3(href='yritys.html') Yritys
                                    li
                                        a.nav-link.me-lg-3(href='https://misc.olevi.fi/esite2024/Olevi-Esite-2024.pdf') Esite
                                    //-li
                                        a.nav-link.me-lg-3(href='brand.html') Tuotemerkki (brändi)
                                    li
                                        a.nav-link.me-lg-3(href='tietosuoja.html') Tietosuoja
                                    li
                                        a.nav-link.me-lg-3(href='https://doc.olevi.fi')
                                            i.bi-box-arrow-up-right &nbsp; Dokumentaatio
                    button.btn.btn-olevi.rounded-pill.px-3.mb-2.mb-lg-0(data-bs-toggle='modal', data-bs-target='#feedbackModal')
                        span.d-flex.align-items-center
                            i.bi-chat-text-fill.me-2
                            span.small Yhteydenotto

        // Mashead header
        header.masthead
            .container.px-5
                .row.gx-5.align-items-center
                    .col-lg-6
                        .row.justify-content-center
                            .col-12
                                // Mashead text and app badges
                                .mb-5.mb-lg-0.text-center.text-lg-start
                                    h3.display-3.lh-1.mb-3 Helppoa tunnistamista
                            .col-7.mb-4.col-lg-12
                                p Ota Olevi heti veloituksetta testikäyttöön demopalvelussa, tai perustetaan teille oma instanssi. 
                                p 
                                    a.btn.btn-olevi.rounded-pill.px-4.py-3.my-2(href='https://test-idp.olevi.fi/mgmforms/') 
                                        span.d-flex.align-items-center
                                            i.bi-box-arrow-up-right 
                                            |  &nbsp; Kokeile demo-palvelussa

                    .col-lg-6.text-center
                        img(src='https://misc.olevi.fi/assets/img/phone-mockup-1-c.png', width='60%')

        section.properties
            .container
                div.row
                    div.col.mx-auto.mb-5.text-center
                        img(src='https://misc.olevi.fi/assets/img/Path-image-c.png', width="90%", style="max-width:760px;")
                div.row.justify-content-center
                    div.col-12
                        h3 Digimaailma tarvitsee Olevin
                    div.col-xs-12.col-md-6
                        p Olevi on tunnistusratkaisu, joka soveltuu vaativiin käyttötapauksiin myös silloin, kun markkinoilla jo olevat pilvipalveluttuotteet eivät sovellu.
                    div.col-xs-12.col-md-6
                        p Olevi toteuttaa mm. OIDC- ja SAML-tunnistusprotokollia kytkeytyäkseen tunnistusvälineisiin. Tunnistamiseen tukeutuvat palvelut kytkeytyvät Oleviin käyttäen samoja protokollia. Olevi voi kytkeytyä monenlaisiin käyttäjätietokantoihin.
                div.row.justify-content-center.mt-3
                    div.col-md-3
                        div.col-12.mb-2 
                            i.icon.bi-x-circle
                        div.col-12
                            strong
                                p Olevi käsittelee henkilötietoja ainoastaan tunnistustapahtuman yhteydessä
                    div.col-xs-6.col-md-3
                        div.col-12.mb-2 
                            i.icon.bi-box-arrow-in-right
                            strong
                                p Kirjaudu useisiin palveluihin yhdellä kertaa
                    div.col-xs-6.col-md-3
                        div.col-12.mb-2 
                            i.icon.bi-lock
                            strong
                                p Turvallinen vaihtoehto salasanoille
                    div.col-xs-6.col-md-3
                        div.col-12.mb-2 
                            i.icon.bi-check2-square
                            strong
                                p Helpompaa sovellusten ylläpitoa ja kehitystä

        // Quote/testimonial aside
        aside.text-center.align-content-center
            .container.px-5
                .row.gx-5.justify-content-center
                    .col-xl-8
                        .h2.fs-4.text-white.mb-4 "Tunnistamisen toteuttaminen sovellukseen oli niin helppoa, että meidän ei tarvinnut pohtia asiaa lainkaan."
                .row.gx-5.justify-content-center
                    .col-xl-4
                        p.text-white.mb-4 Sovelluskehitystiimi

        section#features
            .container
                div.row.align-items-center
                    div.col-md-6.col-xs-12
                        div.col-12
                            h3 Tallenna laitteesi tunniste
                        div.col-12
                            p Salasanat jäävät historiaan. Käyttäjän valitessa Olevi muistaa tunnistamisen. Vaikeita ja pitkiä salasanoja ei tarvitse muistaa. Salasanan vaihtaminen on menneisyyttä.
                            p Käyttäjä tallentaa laitetunnisteen, joka liitetään selaimeen. Tunnisteina voi käyttää sormenjälkeä, kasvotunnistusta tai laitteen pääsykoodia. Kirjautuminen on turvallista, kun se onnistuu vain käyttäjän selaimen ja laitetunnisteen yhdistelmällä.
                            p Käyttäjän tunnistetta ei tallenneta Olevin tietokantaan tai muuten keskitetysti, vaan tunnistamisen tekijät ovat suojattuna käyttäjän hallussa. Varas ei voi saada tunnisteita haltuunsa, sillä ne on suojattu laitteen turvapiiriin. 
                    div.col-md-5.col-xs-12.ms-3.mt-3
                        div.col-12
                            p
                                img(src='https://misc.olevi.fi/assets/icon/Sormenjalkitunnistus.svg') 
                                |  Sormenjälkitunnistus
                            p
                                img(src='https://misc.olevi.fi/assets/icon/Kasvotunnistus.svg') 
                                |  Kasvotunnistus
                            p
                                img(src='https://misc.olevi.fi/assets/icon/Henkilo-ja-Sote-kortti.svg') 
                                |  Henkilö- ja Sote-kortti
                            p
                                img(src='https://misc.olevi.fi/assets/icon/Pankkitunnistus.svg') 
                                |  Pankkitunnistus
                            p
                                img(src='https://misc.olevi.fi/assets/icon/Fido2-tunnistaminen.svg') 
                                |  Fido2-tunnistaminen

        section.pricing
            .container
                .row.align-items-center.justify-content-center
                    .col-12
                        h2.my-4 Hintaesimerkkejä
                    .col-12.mb-4
                        p Katso tarkempi selvitys hinnoittelun rakenteesta 
                            a(href='https://doc.olevi.fi/pages/a-general/2-projectStructure/#purchasing-olevi') ohjesivulta (englanniksi)
                            |.
                        p Tässä mainitut hinnat ovat oletuksia todennäköisestä hintatasosta. Olevi määrittelee modulien lisenssien hinnan. Tukipalvelun ja alustapalvelun hinnoittelusta neuvottelet jälleenmyyjäsi kanssa. Kysy aina hintatarkennus
                            a(href='https://www.weare.fi/ota-yhteytta/') jälleenmyyjältä
                            |.
                .row.justify-content-center
                    .col-sm-5.my-4
                        .accordion#hintaDev
                            .accordion-item
                                h2.accordion-header
                                    button.accordion-button(
                                        type='button', 
                                        data-bs-toggle="collapse",
                                        data-bs-target="#collapseDev",
                                        aria-expanded="true",
                                        aria-controls="collapseDev") Devaaja
                                .accordion-collapse.collapse.show#collapseDev(data-bs-parent="#hintaDev")
                                    .accordion-body
                                        h2.text-center.mb-3 0 €
                                        p.text-center
                                            a.btn.btn-olevi.rounded-pill.px-4.py-3.my-2(href='https://test-idp.olevi.fi/mgmforms/') 
                                                span.d-flex.align-items-center
                                                    i.bi-box-arrow-up-right 
                                                    |  &nbsp; Kokeile demo-palvelussa
                                        ul.my-3
                                            li Pääsy yleiseen SaaS-instanssiin testaus- ja kehityskäytössä
                                            li Rekisteröi palvelut itsepalveluna
                .row.justify-content-center
                    .col-sm-5.my-4
                        .accordion#hintaAloitus
                            .accordion-item
                                h2.accordion-header 
                                    button.accordion-button(
                                        type='button', 
                                        data-bs-toggle="collapse",
                                        data-bs-target="#collapseAloitus",
                                        aria-expanded="true",
                                        aria-controls="collapseAloitus") Aloituspaketti
                                .accordion-collapse.collapse.show#collapseAloitus
                                    .accordion-body
                                        h2.text-center.mb-3 2500 € / kk
                                        ul.my-3
                                            li Kevyeen käyttöön tai yhteen käyttötapaukseen
                                            li Itsenäiset IdP-instanssit testiin ja tuotantoon
                            .accordion-item
                                h2.accordion-header
                                    button.accordion-button.collapsed(
                                        type='button', 
                                        data-bs-toggle="collapse",
                                        data-bs-target="#aloitusMod",
                                        aria-expanded="true",
                                        aria-controls="aloitusMod") Olevi Modulit - 1500 €
                                .accordion-collapse.collapse#aloitusMod
                                    .accordion-body Olevin perusmodulit
                                        ul.my-3
                                            li ydin (Core Deployment)
                                            li tunnistamisen välityspalvelu (OIDC RP)
                            .accordion-item
                                h2.accordion-header
                                    button.accordion-button.collapsed(
                                        type='button', 
                                        data-bs-toggle="collapse",
                                        data-bs-target="#aloitusSLA",
                                        aria-expanded="true",
                                        aria-controls="aloitusSLA") Tukipalvelu - 500 €
                                .accordion-collapse.collapse#aloitusSLA
                                    .accordion-body Kehityksen aikainen tuki
                            .accordion-item
                                h2.accordion-header
                                    button.accordion-button.collapsed(
                                        type='button', 
                                        data-bs-toggle="collapse",
                                        data-bs-target="#aloitusPlatta",
                                        aria-expanded="true",
                                        aria-controls="aloitusPlatta") Alustapalvelu - 500 €
                                .accordion-collapse.collapse#aloitusPlatta
                                    .accordion-body Alustapalvelu jaetulla pilvialustalla
                    .col-sm-5.my-4
                        .accordion#hintaPerus
                            .accordion-item
                                h2.accordion-header
                                    button.accordion-button(
                                        type='button', 
                                        data-bs-toggle="collapse",
                                        data-bs-target="#collapsePerus",
                                        aria-expanded="true",
                                        aria-controls="collapsePerus") Peruspaketti
                                .accordion-collapse.collapse.show#collapsePerus
                                    .accordion-body
                                        h2.text-center.mb-3 5300 € / kk
                                        ul.my-3
                                            li Tavanomaiseen käyttöön yritykselle
                                            li Itsenäiset IdP-instanssit testiin ja tuotantoon
                                            li Sormenjälki- ja kasvotunnistus
                            .accordion-item
                                h2.accordion-header
                                    button.accordion-button.collapsed(
                                        type='button', 
                                        data-bs-toggle="collapse",
                                        data-bs-target="#perusMod",
                                        aria-expanded="true",
                                        aria-controls="perusMod") Olevi Modulit - 2000 €
                                .accordion-collapse.collapse#perusMod
                                    .accordion-body
                                        ul.my-3
                                            li Olevin modulit
                                                ul
                                                    li ydin (Core Deployment)
                                                    li tunnistamisen välityspalvelu (OIDC RP)
                                                    li sormenjälki ja kasvotunnistus (Fido/WebAuthn)
                            .accordion-item
                                h2.accordion-header
                                    button.accordion-button.collapsed(
                                        type='button', 
                                        data-bs-toggle="collapse",
                                        data-bs-target="#perusSLA",
                                        aria-expanded="true",
                                        aria-controls="perusSLA") Tukipalvelu - 2500 €
                                .accordion-collapse.collapse#perusSLA
                                    .accordion-body Tuotannonaikainen tavanomainen tuki
                                        ul.my-3
                                            li asiakkaan oma puhelinnumero tukipalveluun
                                            li häiriönhallinta
                                            li ratkaisun hallintaan liittyvät tavanomaiset ylläpitotyöt
                                            li ratkaisun komponenttien tavanomaiset minor-päivitykset 
                                            li ratkaisun komponenttien tietoturvapäivitykset
                                            li ratkaisun valvonta
                                            li SLA-raportointi
                            .accordion-item
                                h2.accordion-header
                                    button.accordion-button.collapsed(
                                        type='button', 
                                        data-bs-toggle="collapse",
                                        data-bs-target="#perusPlatta",
                                        aria-expanded="true",
                                        aria-controls="perusPlatta") Alustapalvelu - 800 €
                                .accordion-collapse.collapse#perusPlatta
                                    .accordion-body 
                                        p Yrityksen erillinen pilvialusta
                                        p Mahdollisuus myös muiden palvelujen toteuttamiseen samalla pilvialustalla
                                    

        // News
        section.news
            .container
                .h3 UUTISET
                .row
                    .col-lg-6.col-xl-5.m-2
                        .card
                            .card-body
                                p 13.8.2025
                                h5
                                    a(href='/news/20250813-videot-kesan-uudistuksista.html') Videot kesän uudistuksista
                                p Katso linkin takaa videoilta lisätietoa Olevin kesän 2025 uudistuksista.

                .row
                    .col-lg-6.col-xl-5.m-2
                        .card
                            .card-body
                                p 19.6.2025
                                h5
                                    a(href='/news/20250619-olevilla-lomalle.html') Olevilla lomalle
                                p Toivotamme mukavaa kesää ja lokoisaa lomailua. Katso uutissivulta linkin takaa tarkemmin, miten huoleton lomailu onnistuu.
                    .col-lg-6.col-xl-5.m-2
                        .card
                            .card-body
                                p 25.5.2025
                                h5
                                    a(href='/news/20250525-buypass-varmenne.html') Buypass AS on Olevin uusi varmentaja
                                p Siirryimme testipalvelussamme käyttämään Buypass AS myöntämää varmennetta
                .row
                    .col-lg-6.col-xl-5.m-2
                        .card
                            .card-body
                                p 19.3.2025
                                h5
                                    a(href='/news/20250319-olevi-b2b-webinaari-tallenne.html') Videotallenne nyt saatavilla: Muista käyttäjähallinta B2B-verkkokaupassa!
                                p Katso webinaaritallenne uutissivulta ylläolevasta linkistä
                    .col-lg-6.col-xl-5.m-2
                        .card
                            .card-body
                                p 27.2.2025
                                h5
                                    a(href='/news/20250227-olevi-b2b-webinaari.html') Webinaari: Muista käyttäjähallinta B2B-verkkokaupassa!
                                p Tule mukaan 19.3.2025 klo 09:00. Ilmoittaudu Webinaariin 
                                    a(href="https://www.linkedin.com/events/7298669235134676993/") LinkedIn-palvelussa.
                    .col-lg-6.col-xl-5.m-2
                        .card
                            .card-body
                                p 21.8.2024
                                h5
                                    a(href='/news/20240821-olevi-asiakas-paattaa.html') Asiakas päättää hinnan
                                p Karidea ja Olevi toteuttavat yhteistyössä kampanjan, jossa asiakas päättää palvelun hinnan (min 35 € + alv / kk enintään 6 kk:n ajan). Lue tarkemmat ehdot tiedotteesta.
                    .col-lg-6.col-xl-5.m-2
                        .card
                            .card-body
                                p 8.3.2024
                                h5 
                                    a(href='/news/20240308-olevi-vorna.html') Olevi + Vorna ID for Business Customer IAM
                                p An innovative partnership to govern access in business ecosystems with customer identity and access management.

        // Footer
        footer.bg-black.text-center.py-5
            .container.px-5
                .text-white-50.small
                    .mb-2 Olevi Oy | Y-tunnus:
                        a(href='https://tietopalvelu.ytj.fi/yritys/3371637-1') 3371637-1 |
                        a(href='tietosuoja.html').link-underline-primary Tietosuoja |
                        //-a(href='Olevi-License-Terms.md') License Terms |
                        | Tehty Suomessa
                    //-span.mx-1 &middot;
                    //-a(href='#!') Terms
                    //-span.mx-1 &middot;
                    //-a(href='#!') FAQ
        
        include includes/feedback-modal.pug

        script(src='https://misc.olevi.fi/assets/js/jquery.min.js')
        // Bootstrap core JS
        script(src='https://misc.olevi.fi/assets/js/popper.min.js')
        script(src='https://misc.olevi.fi/assets/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='./js/scripts.js')
